[Unit]
Description=Gnhastd BME680 collector
Wants=gnhastd.service
After=gnhastd.service

[Service]
Type=simple
ExecStart=python3 /usr/local/bin/bme680coll.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
